.Sidebar{
    flex: 3;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    align-items: center;
   
}
.Sidebar img{
   
 
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
    margin: 24px;
}
.sidebartitle{
 margin: 10px;
 padding: 5px;
 display: flex;

}
.sidebar-me{
    padding: 10px;
    text-align: justify;
   
}
.sidebarlist{
    list-style : none;

}
.sidebar-list-item{
    display: inline;
    margin: 4px;
  
}
