.Post{
    width: 305px;
    margin: 17px ;
   
}
.post-img{
    height: 200px;
    width: 100%;
    border-radius: 7px;
    object-fit: cover;
}
.post-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.postcat{
    font-size: small;
    color: rgb(187, 139, 77);
    cursor: pointer;
    margin: 3px;
}
.post-title{
    font-size: 22px;

}
.post-date{
    font-size: 11px;
    font-style: italic;
}
.post-des{
    font-size: 13px;
    line-height: 20px;
    color: rgb(129, 117, 101);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
}